* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", "GothicJoker", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(90deg, #100c14, #4d0013);
    color: #e0e0e0;
    border: 2px solid #9d18e2;
    border-radius: 15px;
}

#workspaces button {
    padding: 0 10px;
    color: #a0a0a0;
}

#workspaces button.active {
    color: #e0e0e0;
    background: #9d18e2;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #ff003c;
    color: #100c14;
    border-radius: 10px;
}

#clock, #battery, #pulseaudio, #tray {
    padding: 0 10px;
}